:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

lightning-breadcrumbs {
    display: block;
}

.product-information {
    display: flex;
}

.greenMssg{
    color: green;
    font-size: medium;
    
    text-emphasis: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.redMssg{
    color: red;
    font-size: medium;
    
    text-emphasis: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.texts{
    color: rgb(0, 0, 0);
    text-emphasis: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;

}

figure {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}

img {
    object-fit: contain;
}

.heading {
    flex-grow: 1;
}

.details-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
    min-height: auto;
}

.price {
    align-self: center;
    font-size: large ;
    font-weight: bolder;
}


/* CSS Styling for narrow screens (e.g. phones) */
@media only screen and (max-width: 48em) {
    /* SLDS token: mqSmall */
    .product-information {
        flex-direction: column;
    }

    .details-area {
        padding-top: var(--lwc-spacingSmall);
    }

    .image {
        align-self: center;
    }

    figure {
        width: 200px;
        height: 200px;
    }
}
